body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100vh;
}

canvas {
    display: block;
}

.title {
    font-size: 64px;
    color: #fff;
    text-align: center;
}

.button {
    font-size: 32px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
}

.button:hover {
    background-color: #fff;
    color: #000;
}
